
.restaurantPageWrapper{
  margin: 20px;
  text-align: center;
  
}

.restoDetailsWrapper{
margin: 60px;
padding: 20px;
}

.restoHeading{
  text-align: left;
  font-weight: 400;
  font-size: 3rem;
}

.restaurantDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    text-align: left;
    color: grey;
    
}
.restoDeatilsLeft p{
  margin: 0;
  padding-top: 0;
}

.addRevBtn{
  padding: 10px;
    margin: 10px;
    background-color: 
    #ef476f;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.review-container {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    
    text-align: center;
  }
  
  .reviewHead{
    text-align: left;
  }
  .profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .review-content {
    margin-left: 10px;
    width: 100%;
  }
  .reviewer-info{
    display: flex;
    justify-content: space-between;
  }
  
  .reviewer-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .number-rating{
    font-size: 1rem;
  }
  .star-rating {
    color: #f5bd00; 
    font-size: 1rem;
    background-color: green;
    padding: 4px;
    border-radius: 5px;
    margin-right: 30px;
  }
  
  .review-description {
    margin-top: 10px;
    text-align: left;
  }
  

.back-arrow {
  position: fixed;
  top: 30px;
  left: 20px;
  font-size: 35px;
  color: grey;
  cursor: pointer;
  transition: transform 0.2s;
}

.back-arrow:hover {
  transform: scale(1.1);
}
